{:args {}, :unsaved [], :entries [{:kind :rpc, :cmd :get-profile, :status 200, :body "[\"^ \",\"~:email\",\"spike@example.com\",\"~:is-demo\",false,\"~:auth-backend\",\"penpot\",\"~:fullname\",\"Spike\",\"~:modified-at\",\"~m1791168577366\",\"~:lang\",\"\",\"~:is-active\",true,\"~:default-project-id\",\"~u65b34a75-eca9-8129-8008-bdc1f8d856a5\",\"~:id\",\"~u65b34a75-eca9-8129-8008-bdc1f8d514d0\",\"~:is-muted\",false,\"~:default-team-id\",\"~u65b34a75-eca9-8129-8008-bdc1f8d6a653\",\"~:created-at\",\"~m1791168577366\",\"~:is-blocked\",false,\"~:props\",[\"^ \",\"~:nudge\",[\"^ \",\"~:big\",10,\"~:small\",1],\"~:mcp-enabled\",true,\"~:v2-info-shown\",true,\"~:viewed-tutorial?\",false,\"~:workspace-visited\",true,\"~:viewed-walkthrough?\",false,\"~:release-notes-viewed\",\"2.18\"]]", :params "[\"^ \"]"}], :tool "get_profile", :scenario "files/profile"}