{:args {"team_id" "65b34a75-eca9-8129-8008-bdc1f8d6a653", "query" "design"}, :unsaved [], :entries [{:kind :rpc, :cmd :search-files, :status 200, :body "[[\"^ \",\"~:id\",\"~u4c1c501c-ee3b-8136-8008-bf2eda5f0484\",\"~:revn\",5482,\"~:project-id\",\"~u65b34a75-eca9-8129-8008-bdc1f8d856a5\",\"~:created-at\",\"~m1791264228715\",\"~:modified-at\",\"~m1791264317225\",\"~:name\",\"Design\",\"~:is-shared\",false],[\"^ \",\"^0\",\"~u4c1c501c-ee3b-8136-8008-bf50af1e536f\",\"^1\",5484,\"^2\",\"~u65b34a75-eca9-8129-8008-bdc1f8d856a5\",\"^3\",\"~m1791264228715\",\"^4\",\"~m1791279917154\",\"^5\",\"Design test data\",\"^6\",false]]", :params "[\"^ \",\"~:team-id\",\"~u65b34a75-eca9-8129-8008-bdc1f8d6a653\",\"~:search-term\",\"design\"]"}], :tool "search_files", :scenario "files/search-files"}