#kaocha/v1
{:tests [{:id :unit
          :test-paths ["test"]
          :skip-meta [:integration :reference]}
         {:id :integration
          :test-paths ["test"]
          :focus-meta [:integration]}
         {:id :reference
          :test-paths ["test"]
          :focus-meta [:reference]}]}
