{:args {"thread_id" "4c1c501c-ee3b-8136-8008-bf7bafd78114"}, :unsaved [#uuid "4c1c501c-ee3b-8136-8008-bf7b286205b5"], :entries [{:kind :rpc, :cmd :delete-comment-thread, :status 204, :body "", :params "[\"^ \",\"~:id\",\"~u4c1c501c-ee3b-8136-8008-bf7bafd78114\"]"}], :tool "delete_comment_thread", :scenario "manage/comment-thread-delete"}