{:args {"file_id" "4c1c501c-ee3b-8136-8008-bf7b286205b5"}, :unsaved [#uuid "4c1c501c-ee3b-8136-8008-bf7b286205b5"], :entries [{:blob "7f9855e17faacfbfcafb16eced03c11609fae3494bb6fc754abfbfbb827a839c"} {:kind :rpc, :cmd :get-file-stats, :status 200, :body "[\"^ \",\"~:page-count\",5,\"~:updated-at\",\"~m1791284392722\",\"~:shape-counts\",[\"^ \",\"~:total\",4463,\"~:by-type\",[\"^ \",\"~:text\",804,\"~:frame\",1785,\"~:group\",424,\"~:path\",931,\"~:rect\",492,\"~:circle\",27]],\"~:file-id\",\"~u4c1c501c-ee3b-8136-8008-bf7b286205b5\",\"~:deleted-component-count\",0,\"~:revn\",5496,\"~:referenced-by-count\",0,\"~:typography-count\",1,\"~:component-count\",740,\"~:color-count\",2,\"~:library-count\",0]", :params "[\"^ \",\"~:id\",\"~u4c1c501c-ee3b-8136-8008-bf7b286205b5\"]"} {:blob "1125a77e795365534292bfeba151920958b6e8c15e7d5b48ddadfb5f33b6bf5d"}], :tool "list_media", :scenario "manage/media"}