{:args {"file_id" "4c1c501c-ee3b-8136-8008-bf7b286205b5", "name" "Recorded page"}, :unsaved [], :entries [{:blob "2ce433e38a30e9a5f1d59aac1fb29f8e00a138e7507ee0dee5e16fdd1a0b804c"}], :tool "create_page", :scenario "manage/page"}