{:args {"file_id" "4c1c501c-ee3b-8136-8008-bf50af1e536f", "page_id" "d71bf84d-1f82-80e4-8008-aba61775a88a"}, :unsaved [], :entries [{:kind :rpc, :cmd :get-page, :status 200, :body "[\"^ \",\"~:objects\",[\"^ \"]]", :params "[\"^ \",\"~:file-id\",\"~u4c1c501c-ee3b-8136-8008-bf50af1e536f\",\"~:features\",[\"~#set\",[\"fdata/path-data\",\"plugins/runtime\",\"design-tokens/v1\",\"variants/v1\",\"layout/grid\",\"styles/v2\",\"fdata/pointer-map\",\"text-editor/v2-html-paste\",\"fdata/objects-map\",\"text-editor/v2\",\"tokens/numeric-input\",\"render-wasm/v1\",\"text-editor-wasm/v1\",\"components/v2\",\"fdata/shape-data-type\"]],\"~:page-id\",\"~ud71bf84d-1f82-80e4-8008-aba61775a88a\"]"}], :tool "list_shapes", :scenario "shapes/list-absent-page"}