{:args {"file_id" "4c1c501c-ee3b-8136-8008-bf50af1e536f", "query" "button"}, :unsaved [], :entries [{:blob "01d8d723d246f1d1c56a3e6abb488d0127d7f21022e82397efe20d11df7d14b2"} {:blob "c7f4af01870c2e9c86113ab96d54897d20b940618d907bb75b309246911ba810"} {:kind :rpc, :cmd :get-file-stats, :status 200, :body "[\"^ \",\"~:page-count\",5,\"~:updated-at\",\"~m1791279917154\",\"~:shape-counts\",[\"^ \",\"~:total\",4336,\"~:by-type\",[\"^ \",\"~:text\",786,\"~:frame\",1743,\"~:group\",432,\"~:path\",878,\"~:rect\",480,\"~:circle\",17]],\"~:file-id\",\"~u4c1c501c-ee3b-8136-8008-bf50af1e536f\",\"~:deleted-component-count\",0,\"~:revn\",5484,\"~:referenced-by-count\",0,\"~:typography-count\",0,\"~:component-count\",729,\"~:color-count\",1,\"~:library-count\",0]", :params "[\"^ \",\"~:id\",\"~u4c1c501c-ee3b-8136-8008-bf50af1e536f\"]"} {:blob "f4f67fa0064cc9b901748c17f37a2ecf4a077ab69cf1461d0f135a4677297a67"}], :tool "search_shapes", :scenario "shapes/search-file-saved"}