{:args {"file_id" "4c1c501c-ee3b-8136-8008-bf50af1e536f"}, :unsaved [], :entries [{:blob "7dd142e6ccb4628dafc0d93f2b5eb513d4b8208e1c5350ddc3ab91d328aa5d45"} {:kind :rpc, :cmd :get-file-stats, :status 200, :body "[\"^ \",\"~:page-count\",5,\"~:updated-at\",\"~m1791279917154\",\"~:shape-counts\",[\"^ \",\"~:total\",4336,\"~:by-type\",[\"^ \",\"~:text\",786,\"~:frame\",1743,\"~:group\",432,\"~:path\",878,\"~:rect\",480,\"~:circle\",17]],\"~:file-id\",\"~u4c1c501c-ee3b-8136-8008-bf50af1e536f\",\"~:deleted-component-count\",0,\"~:revn\",5484,\"~:referenced-by-count\",0,\"~:typography-count\",0,\"~:component-count\",729,\"~:color-count\",1,\"~:library-count\",0]", :params "[\"^ \",\"~:id\",\"~u4c1c501c-ee3b-8136-8008-bf50af1e536f\"]"} {:blob "f4f67fa0064cc9b901748c17f37a2ecf4a077ab69cf1461d0f135a4677297a67"}], :tool "token_usage", :scenario "token-usage/saved"}