{:args {"file_id" "4c1c501c-ee3b-8136-8008-bf50af1e536f", "shape_id" "1af5d650-912d-8079-8008-bb4ce80a1b9a", "mode" "fill", "format" "svg"}, :unsaved [], :entries [], :tool "export_shape", :scenario "export/fill-svg"}